#SearchAgainContainer{
  height: 53px;
  width: 240px;
  /* border: 1px solid red; */
  border-radius: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background-color: #202128;
  border: 1px solid #313131;
  cursor: pointer;
}

#SearchAgainContainer a{
  font-size: 20px;
  font-family: "Inter", Roboto;
  /* border: 1px solid green; */
  width: 100%;
  height: 100%;
  margin-bottom: 0px !important;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

}

#SearchAgainContainer a button{
  text-decoration: none;
  color: #FFFFFF;
}

#SearchAgainContainer a img{
  /* height: 40px;
  width: 40px; */
  /* height: 100%; */
  width: 10%;
  /* border: 1px solid blue; */
}