#SearchAgainContainer {
  height: 53px;
  width: 230px;
  border-radius: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background-color: #202128;
  border: 1px solid #313131;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

#SearchAgainContainer button {
  font-size: 20px;
  font-family: "Inter", Roboto;
  width: 70%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  text-decoration: none;
  color: #FFFFFF;
  transition: color 0.2s ease-in-out;
}

#SearchAgainContainer img {
  width: 11%;
  filter: brightness(0) invert(1); /* Makes the icon white initially */
  transition: filter 0.2s ease-in-out;
}

#SearchAgainContainer:hover {
  background-color: #FFFFFF;
}

#SearchAgainContainer:hover button {
  color: #000000;
}

#SearchAgainContainer:hover img {
  filter: brightness(0); /* Changes the icon color to black */
}
