
.NavbarMain {
  border: 1px solid  rgba(255, 255, 255, 0.5);
  width: 80vw;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 77px;
  padding: 0 20px;
  height: 80px;
  margin: 0 30px;
  /* border-opacity: 0.7; */
}

.NavbarList {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  list-style-type: none;
  width: 80%;
  padding: 0 20px;
  height: 100%;
  margin-bottom: 0;
}

.NavbarItems {
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.NavbarItems a {
  color: white;
  text-decoration: none;
}

.itemImg {
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid red; */
  height: 100%;
}

.itemImg img {
  scale: 0.3;
  mix-blend-mode: screen;
}

.toggle-container {
  width: 13%;
  padding: 0 10px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

