
.NavbarMain {
  width: 80vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 77px;
  padding: 0 20px;
  height: 90px;
  margin: 0 30px;
  font-family: "Roboto", sans-serif;
  /* backdrop-filter: blur(10px); 
  -webkit-backdrop-filter: blur(10px); */
  /* border: 1px solid red; */
}

.NavbarList {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style-type: none;
  width: 50%;
  margin-bottom: 0;
  border: 1px solid #313131;
  border-radius: 77px;
  padding: 0 10px;
  height: 80px;
  margin: 0 50px;
  background-color: rgba(0, 0, 0, 0.8); /* Black with 50% opacity */
  font-family: "Roboto", sans-serif;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  font-size: 18px;
}


.NavbarList2{
  width: 134px;
  font-size: 18px;
  padding: 0 !important;
  /* border: 1px solid red; */
  backdrop-filter: blur(10px); 
  -webkit-backdrop-filter: blur(10px);
}

.NavbarItems {
  width: 8%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  transition: 0.2s ease-out;
}

.NavbarItems2:hover{
  width: 70% !important;
}

.NavbarItems:hover {
  width: 30%;
  color: black;
  background-color: #313131;
  height: 60%;
  border-radius: 30px;
}

.NavbarItems a {
  color: white !important;
  text-decoration: none;
  transition: 0.9ms ease-in-out;
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  transition: 0.2s ease-out;
  /* border: 1px solid yellow; */
}

.NavbarItems a:hover {
  height: 100%;
  color: white !important;
  /* border: 1px solid red; */
}

.NavbarList:active{
  color: white;
}

.itemImg {
  width: 15% !important;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid red; */
  height: 100% !important;
  margin-left: 20px;
  mix-blend-mode: difference;
}

.itemImg img {
  scale: 0.23;
  mix-blend-mode: screen;
}

.toggle-container {
  width: 13%;
  padding: 0 10px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.NavbarItems{
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  transition: 0.2s ease-out;
  height: 60%;
  /* border: 1px solid green; */
}


.NavbarItems:hover,
.NavbarItems.hover,.NavbarItems a.hover{
  width: 25%;
  color: white !important;
  background-color: #313131;
  height: 60%;
  border-radius: 30px;
}


.NavbarItems2.hover,.NavbarItems2 a.hover{
  width: 100px;
  color: white !important;
  background-color: #313131;
  height: 60%;
  border-radius: 30px;
}

