body{
  padding: 10px;
  /* border: 1px solid red; */
  background-color: #0D0D0D !important;
  /* border: 1px solid blue; */
}

#NavbarComponent{
display: flex;
align-items: center;
justify-content: center;
width: 100%;
height: auto;
position: relative;
}

.MainHomeComp {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* border: 1px solid red; */
  width: 100%;
  height: 1028px;
  background-image: url(../../../assets/heroSectionGird.png);
  background-repeat: no-repeat;
  background-position: center 3px;
  background-size: cover; 
  position: relative;
  bottom: 100px;
}


.SecondHomeComp{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  position: relative;
  top: -250px;
}

.ThirdHomeComp{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  /* border: 1px solid red; */
}

#HomeMainContainer{
  margin-top: 1%;
  height: auto;
  gap: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.NavbarComponent{
  margin-top: 10px;
}

#FifthHomeMain{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2%;
  width: 80%;
  /* border: 1px solid green; */
}

#FooterSection{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;
  width: 85%;
}

#sixthSectionMain{
  /* border: 1px solid red; */
  width: 100%;
  height: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 1000px;
  max-height: 1000px;
  overflow: hidden;
}

/* #tempoSection{
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid blue;
  height: 900px;
  width: 100%;
} */

#lastContainer{
  border: 1px solid red;
  width: 100%;
  height: 100vh;
}

#HomeMainContainer {
  margin-top: 1%;
  height: auto;
  gap: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.backgroundContainer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-position: center;
  background-repeat: no-repeat;
}
