.NavbarListMain{
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid red; */
  width: 85%;
  height: 100%;
  margin-top: 2%;
  border-top: 1px solid #E0E0E2;
  border-bottom: 1px solid #E0E0E2;
}

.NavbarItemss{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  color: #E0E0E2;
  text-decoration: none;
  
}

.NavbarItemss a{
  color: #E0E0E2;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.MiniNavbarList{
  height: 84px;
  width: 100%;
}