#ReadFullArticleContainer {
  height: 53px;
  width: 240px;
  border-radius: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background-color: #202128;
  border: 1px solid #313131;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

#ReadFullArticleContainer a {
  font-size: 20px;
  font-family: "Inter", Roboto;
  width: 100%;
  height: 100%;
  margin-bottom: 0px !important;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-decoration: none;
}

#ReadFullArticleContainer a button {
  color: #FFFFFF;
  background: none;
  border: none;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}

#ReadFullArticleContainer a img {
  width: 15%;
  filter: brightness(0) invert(1); /* Makes the icon white initially */
  transition: filter 0.2s ease-in-out;
}

/* Hover effect */
#ReadFullArticleContainer:hover {
  background-color: #FFFFFF;
}

#ReadFullArticleContainer:hover a button {
  color: #000000;
}

#ReadFullArticleContainer:hover a img {
  filter: brightness(0); /* Changes the icon color to black */
}
