.InputNumberContainer {
  width: 335px;
  /* height: 57px; */
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  /* justify-content: center; */
  border-radius: 14px;
  position: relative;
  left: 7px;
}

.InputNumberMain {
  background-color: #313131;
  display: flex;
  align-items: center;
  /* border: 1px solid green; */
  width: 335px;
  background-color: #313131;
  height: 57px;
}
