.cursor-follower {
  position: fixed;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  background-color: rgba(0, 0, 255, 0.7);
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  opacity: 0; /* Initially invisible */
  z-index: 1000;
  cursor: none; /* Hide the default cursor */
  transition: opacity 0.3s ease;
  mix-blend-mode: difference;
}

.HightlightCardsMain {
  cursor: none; /* Hide the default cursor inside the target div */
}
