.HightlightCardsContainer{
  background-color: #202128;
  width: 400px;
  height: 301px;
  border-radius: 22px;
  padding: 20px;
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 2px solid #313131;
}

.HightlightCardsTop{
  /* border: 1px solid red; */
  height: 20%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 12px;
}

.HightlightCardsTop img{
  width: 12%;
  /* height: 100%; */
  object-fit: contain;
  /* border: 1px solid blue; */
}

.HightlightCardsTop p{
  font-family: "Roboto", sans-serif;
  width: 80%;
  /* border: 1px solid fuchsia; */
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  margin: 0;
  padding-left: 15px;
  font-size: 1.2rem;
  font-weight: normal;
}


.HightlightCardsBottom{
  /* border: 1px solid green; */
  height: 70%;
  padding: 10px 40px 10px 10px;
}

.HightlightCardsBottom p{
  font-size: 1.1rem;
}