.NavbarListMain{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 95%;
  margin-top: 1%;
  border: 1px solid #313131;
  border-radius: 77px;
}

.MiniNavbarMain{
  background-color: transparent !important;
  border-radius: 77px;
  width: 80% !important;
}

.NavbarItemss{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  color: #E0E0E2;
  text-decoration: none;
  
}

.NavbarItemss a{
  color: #E0E0E2;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.MiniNavbarList{
  height: 84px;
  width: 100% !important; 
  border: none;
  margin: 0 !important;
}