

.SearchTopBtnBtn{
  position: relative;
  width: 120px;
  height: 57px;
  border-radius: 46px;
  border: none;
  right: 71px;
  font-family: "Roboto", sans-serif;
  background-color: #313131;
  color: #E0E0E2;
  transition: 0.2s ease-out;
  bottom: 0.6px;
}

.SearchTopBtnBtn:hover{
  background-color: #E0E0E2;
  color: #313131;
}
