.NewsVerticalCardsMainContainer {
  width: 19rem;
  height: 8.75rem;
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #17181f;
  cursor: pointer;
  border-radius: 11px;
}

.NewsVerticalCardsSubContainerLeft {
  /* border: 1px solid green; */
  width: 60%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 5px 0 3px 8px;
}

.NewsVerticalCardsSubContainerRight {
  width: 40%;
  height: 100%;
  /* border: 1px solid yellow; */
  overflow: hidden;
  border-radius: 11px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.NewsVerticalCardsSubContainerRight img {
  height: 100%;
  object-fit: contain;
}

.NewsVerticalCardsSubContainerLeftPTop,
.NewsVerticalCardsSubContainerLeftPMiddle,
.NewsVerticalCardsSubContainerLeftPBottom {
  /* border: 1px solid blue; */
  overflow: hidden; 
  margin-bottom: 0;
  width: 100%;
  font-family: 'Roboto', sans-serif;
}

.NewsVerticalCardsSubContainerLeftPTop{
  height: 20%;
  width: 100%;
  font-weight: 500;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  padding-top: 2px;
}

.NewsVerticalCardsSubContainerLeftPMiddle{
  font-size: 16px;
  height: 60%;
  opacity: 86%;
  line-height: 25px;
}

.NewsVerticalCardsSubContainerLeftPBottom{
  height: 20%;
  width: 100%;
  opacity: 71%;
  font-size: 14px;

}