.mainHomeContainer {
  /* border: 1px solid green; */
  margin-bottom: 2%;
  max-width: 80vw;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  padding: 0 8px;
  flex-direction: column;
  scale: 1.2;
  margin-top: 60px;
}

.mainHomeTopContent {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 7px;
  position: relative;
}

.mainHomeTopFirstTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  /* border: 1px solid green; */
  scale: 0.9;
  gap: 10px;
}

.mainHomeTopFirstTitle img {
  /* border: 1px solid yellow; */
  display: flex;
  align-items: center;
  justify-content: center;
  /* height: 100%;
  width: 80%; */
  scale: 0.8;
}

.mainHomeTopFirstTitle h2 {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  margin-bottom: 0px;
  font-style: italic;
  scale: 0.7;
}

.mainHomeTopSecondTitle {
  /* border: 1px solid red; */
  /* width: 810px; */
  width: 140%;

}

.mainHomeTopSecondTitle h1 {
  font-size: 64px;
  font-family: "Roboto", sans-serif;
  text-align: center;
}
.mainHomeTopThirdTitle{
  margin-bottom: 30px;
}

.mainHomeTopThirdTitle p {
  text-align: center;
  font-size: 1.1rem;
  font-family: "Roboto", sans-serif;
  line-height: 20px;
  color: #929292;
}

.mainHomeBottomInput{
  margin-bottom: 15%;
}

.mainHomeTopFourthArrow{
    /* border: 1px solid red; */
    scale: 0.56;
    position: absolute;
    top: -61px;
    right: -183px;
}

.mainHomeTopFourthArrow img {
  transform: scale(0.5) rotate(46deg);
  mix-blend-mode: screen;
}


/* tempo  */

.PopupcontainerMain{
  display: flex;
  align-items:center;
  justify-content: center;
  height: 792px;
  width: 100%;
  position:relative;
}