.mainHomeContainer {
  /* border: 1px solid blue; */
  margin-bottom: 5%;
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 670px;
  padding: 0 8px;
  flex-direction: column;
  scale: 1.2;
  margin-top: 60px;
}

.mainHomeTopContent {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 7px;
}

.mainHomeTopFirstTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  /* border: 1px solid green; */
  scale: 0.9;
  gap: 10px;
}

.mainHomeTopFirstTitle img {
  /* border: 1px solid yellow; */
  display: flex;
  align-items: center;
  justify-content: center;
  /* height: 100%;
  width: 80%; */
  scale: 0.8;
}

.mainHomeTopFirstTitle h2 {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  margin-bottom: 0px;
  font-style: italic;
  scale: 0.7;
}

.mainHomeTopSecondTitle h1 {
  font-size: 65px;
  font-family: "Roboto", sans-serif;
}

.mainHomeTopThirdTitle p {
  text-align: center;
  font-size: 1.1rem;
  font-family: "Roboto", sans-serif;
  line-height: 20px;
}

.mainHomeBottomInput{
  margin-bottom: 15%;
}