.FakeNewsCardsContainer {
  /* border: 1.5px solid #313131; */
  /* border: 1px solid red; */
  height: 70%;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 22px;
  background-color: #202128;
  transition: filter 0.4s ease-in-out;
  cursor: pointer;
}

.FakeNewsCardsContainer:hover{
  box-shadow: 1px 1px 40px 1px #3b3d49;
}


.FakeNewsCardsContainerTop {
  overflow: hidden;
  height: 70%;
  /* border: 1px solid green; */
  width: 100%;
}

.FakeNewsCardsContainerTop img {
  border-radius: 22px;
  object-fit: fill;
  width: 100%;
  display: block;
  height: 100%;
}

.FakeNewsCardsContainerBottom {
  height: 30%;
  /* border: 1px solid blue; */
  overflow: hidden;
  padding: 10px 16px 0 20px;
}

.FakeNewsCardsContainerBottom p {
  margin-bottom: 0px !important;
  font-size: 1.2rem;
  font-family: "Roboto", sans-serif;
  text-align: center;
}
