.NavbarListMain{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 1%;
  /* border: 1px solid #313131; */
  border-radius: 77px;
  margin: 0 30px;
  padding: 0 20px;
  color: #E0E0E2;
}

.MiniNavbarMain{
  background-color: transparent !important;
  border-radius: 77px;
  color: #E0E0E2;
}

.NavbarItemss{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  color: #E0E0E2;
  text-decoration: none;
  cursor: pointer;
}

.NavbarItemss a{
  color: #E0E0E2;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.MiniNavbarList{
  height: 84px;
  width: 100%;
  border: none;
  margin: 0 !important;
    border: 1px solid #313131;
    color: #E0E0E2;
    cursor: pointer;
}

.categoriesNavbar{
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid yellow; */
  width: 80%;
  color: #E0E0E2;
}


.miniNavbarMain {
  width: 85% !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 77px;
  padding: 0 20px;
  height: 90px;
  margin: 0 20px;
  font-family: "Roboto", sans-serif;
  color: #E0E0E2;
  /* border: 1px solid red; */

}

.NavbarList{
  color: #E0E0E2;
  cursor: pointer;
}

.NavbarItems{
  color: #E0E0E2;
}