.FaqSectionMainComp{
  /* border: 1px solid blue; */
  width: 80%;
  overflow: hidden;
  margin-top: 0.6%;
  height: 77%;
}

.FaqSectionMainCompContainer{
  /* border-bottom: 1px solid #313131; */
  margin-top: 100px;
  width: 100%;
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  /* border: 1px solid yellow; */
  padding: 0 20px;
}