
.NavbarItemss{
  color: #e0e0e2;
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* border: 1px solid red; */
  width: 50%;
  height: 70%;
  padding: 0 1%;
}

.NavbarItemss a{
  color: #e0e0e2;
  text-decoration: none;
  width: 70%;
  height:70%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.NavbarItemss:hover{
  width: 60%;
  color: white !important;
  background-color: #313131;
  height: 70%;
  border-radius: 30px;
  border: 1px solid white;
  transition: 0.9ms ease-in-out; 
}

.newsSecondNavbar{
  /* border: 1px solid blue; */
  padding: 0 50px;
  position:relative;
}

.newsSecondNavbarSub{
  position:absolute;
  padding: 0 50px;
  /* border: 1px solid red; */
  width: 80%;
  top: 20%;
}