#FifthSectionMainContainer {
  border: 1.5px solid #313131;
  border-radius: 66px;
  width: 80%;
  height: 550px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 3% 0%;
  border-bottom: 1.5px solid #313131;
}

#FifthSectionMainContainerTop{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#fifthSectionForm {
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.SubBtnMain{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 200px;
  /* border: 1px solid red; */
  margin-top: 40px;

}
