
#ContactUsMainContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px solid green;
  width: 100%;
  height: auto;
}

.NavbarContactUsContainer{
  display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
  
}

.KeyHighlightsContactUsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid red;
  margin: 5% 0;
}

.ContactUsInputContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px solid blue;
}