
.NewsContainerMain{
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid red; */
  width: 100vw;
  height: auto;
  flex-direction: column;
}

.MiniNavbarContainerMain{
  display: flex;
  border: 1px solid green;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  height: 100%;
  
}

.newsErrorContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid blue;
  height: 100%;
  width: 100%;
}

.NewsContainerTopSection{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30%;
  width: 80%;
  flex-direction: column;
  border: 1px solid green;
  margin-top: 90px;
  position: sticky;
}

.NewsContainerMainSection{
  height: auto;
  width: 80%;
  border: 1px solid red;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.NewsMainBanner{
  border: 1px solid green;
  height: auto;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 22px;
  overflow: hidden;
  background: linear-gradient(to bottom, rgba(217, 217, 217, 0) 0%, rgba(0, 0, 0, 1) 100%);
}

.LatestNewsSection{
  height: 1000px;
  width: 90%;
  border: 1px solid red;
}