.ToggleBtnMainContainer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  /* border: 1px solid red; */
  width: 100%;
  position: relative;
}

.svg{
  /* border: 1px solid green; */
  /* width: 30%; */
  scale: 1.1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center ;
  height: 50px;
  width: 22px;
  bottom: 1.5px;
}